<script>
window.onload=function() {

	var secret = "messaggio segreto per Eleonora";
	
	var message = [];
	
	var IV= "1234567890?! qwertyuiopasdfghjklzxcvbnmQWERTYUIOPLKJHGFDSAZXCVBNM,.:;";
	var IV2= "";

	var solution = "";

	while(IV != "") {
		var i= getRandomInt(IV.length);
		IV2+=IV.charAt(i);
		IV = IV.replace(IV.charAt(i), "");
	}

	for(var i=0; i<secret.length;i++){
		message.push(IV2.indexOf(secret.charAt(i)));
	}
	
	
	for(var i=0; i<message.length;i++){
		solution+=IV2.charAt(message[i]);
	}
	
	var urlParams = new URLSearchParams(window.location.search);
	var p = urlParams.get('s');
	
	var a = 	 "segreto: <BR/>" +IV2 +"<BR/> maessaggio:<BR/>"+message;

	if(p=="s") {
		a+="<BR/>soluzione: "+solution;;
	}

	
	document.body.innerHTML = a;
}

function getRandomInt(max) {
  return Math.floor(Math.random() * max);
}
</script>
